* {
  margin: 0px;
  padding: 0px;
  font-family: "Baloo Bhaina 2", cursive;
  font-size: large;
  font-weight: bold;
  text-transform: uppercase;
}

body {
  background-color: rgb(27, 27, 27);
  color: #fff;
  padding: 0%;
  margin: 0%;
}

nav {
  background-color: rgb(27, 27, 27);
  color: #fff;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30% 60%;
  grid-template-columns: 30% 60%;
  -webkit-column-gap: 10%;
  column-gap: 10%;
  padding: 0% 5%;
  /* border-bottom: 1px solid #00ffff; */
}

nav .array-inputs {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 60% 40%;
  grid-template-columns: 60% 40%;
  place-content: center;
  padding: 5% 0%;
}

nav .array-inputs #a_size {
  padding: 5% 0%;
}

nav .array-inputs #a_speed {
  padding: 5% 0%;
}

nav .array-inputs #a_generate {
  background-color: transparent;
  border: 1px solid #00ffff;
  border-radius: 15px;
  outline: none;
  color: #fff;
  margin-top: 20px;
  padding: 5% 0%;
}

nav .array-inputs #a_generate:hover {
  cursor: pointer;
  background-color: #00ffff;
  border-radius: 15px;
  color: rgb(27, 27, 27);
}

nav .header_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

nav .header_right .nav-heading {
  display: inline-block;
  font-size: xx-large;
  padding: 3% 0%;
}

nav .header_right .algos {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (16.66667%);
  grid-template-columns: repeat(6, 16.66667%);
  place-content: center;
  padding: 2% 0%;
}

nav .header_right .algos button {
  background-color: transparent;
  border: 1px solid rgb(255, 0, 85);
  border-radius: 15px;
  color: #fff;
  outline: none;
  padding: 5% 0%;
  margin: 5px;
  font-size: large;
}

nav .header_right .algos button:hover {
  background-color: rgb(255, 0, 85);
  cursor: pointer;
  border-radius: 15px;
}

nav .header_right .algos .butt_locked {
  background-color: transparent;
  cursor: pointer;
}

nav .header_right .algos .butt_locked:hover {
  background-color: transparent;
  cursor: pointer;
}

nav .header_right .algos .butt_selected {
  background-color: #fff;
  color: #008000;
}

nav .header_right .algos .butt_selected:hover {
  background-color: #fff;
  cursor: pointer;
}

nav .header_right .algos .butt_unselected:hover {
  background-color: rgb(255, 0, 85);
  cursor: pointer;
}

section {
  /* background-color: black; */
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
  grid-template-columns: 100%;
}

section #Info_Cont1 {
  padding: 20%;
}

section #array_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  width: 100%;
  height: 75vh;
}

section #Info_Cont2 {
  padding: 20%;
}

.hide {
  display: none;
}

footer {
  color: #fff;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
#compare-btn {
  border: 1px solid #00ffff;
  border-radius: 15px;
  background-color: transparent;
  color: #fff;
  padding: 5% 20%;
  cursor: pointer;
}
#compare-btn:hover {
  background-color: #00ffff;
  color: rgb(27, 27, 27);
}

.graph-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  padding: 10px;
}
.myChart {
  width: 100% !important;
  height: 55vh !important;
  padding: 15px;
  background-color: transparent;
}

#multi-plot {
  width: 80% !important;
  height: auto !important;
  margin: auto;
}
