@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');
* {
	padding:0em;
	margin:0em;
	font-size:1rem;
	font-family: 'Open Sans', sans-serif;
}

body {
	padding:2em;
	margin: 0%;
	background-color: black;
	color: #fff;
	font-family: 'Open Sans', sans-serif;
}
.header{
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}
#home-btn{
	background: transparent;
	color: #fff;
	border:2px solid orange;
	width: 70px;
	padding: 0.5em 1em 0.5em 1em;
	border-radius: 15px;
	cursor: pointer;
}
#home-btn:hover{
	border: 2px solid blueviolet;
}
.commandBlock {
	display:flex;
	padding: 5px;
	border-radius: 10px;
	margin-left:1em;
}

.commandBlockFirst {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	margin-left:0em;
	
}
.commandBlock label {
	display:inline-block;
	width: 120px;
	cursor: pointer;
}
.commandBlock label:hover{
	color:orange;
	font-size: medium;
}

.commandBlock input[type=number] {
	width: 60px;
	color: #fff;
	background: transparent;
	border-radius: 5px;
	border: 1px solid orchid;
}

.blockRow {
	margin-top:1em;
	overflow:hidden;
}

.blockRow > label {
	width:100%;
	font-size: larger;
	/* color:; */
	display:inline-block;
}

.blockRow > div {
	width:auto;
	height:5.5em;
	display:inline-block;
	margin-right:1em;
}

.sortBlock > div {
	width:.5em;
	height:5em;
	background-color:turquoise;
	display:inline-block;
	margin:.25em;
}

.sortBlock > div.active {
	background-color:red;
}

.sortBlock > div.maintainHeight {
	height:5em;
	width:0px;
	margin-left:0px;
	margin-right:0px;
}

#order-type{
	display: none;
}
#app{
	height: 80vh;
	display: grid;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
#footer-btn{
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	padding: 1%;
}
#footer-btn > input{
background: transparent;
color: #fff;
padding: 0.5em 1em;
width: 100px;
border-radius: 15px;
border-color: blueviolet;
cursor: pointer;
}
#footer-btn > input:hover{
border-color: orange;
}